* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header .headerContainer {
  max-width: 900px;
  margin: 40px auto;
}

.container {
  display: flex;
  max-width: 900px;
  margin: auto;
  gap: 80px;
}

.container .leftSide,
.container .rightSide {
  flex: 1;
}

/* Left Side */
.container .leftSide h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #3a4b5c;
}

.container .leftSide p {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  color: #6a7d8b;
}

.container .leftSide input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(150, 163, 171, .5);
  padding: 10px 2px;
  margin-bottom: 20px;
  font-size: .8rem;
  outline: 0;
}

.container .leftSide button {
  background-color: #227c9d;
  border: 0;
  border-radius: 10px;
  color: #fff;
  margin-top: 2.5rem;
  padding: 15px 0;
  width: 100%;

  cursor: pointer;
  transition: all ease .2s;
}

.container .leftSide button:hover {
  opacity: .9;
}

/* Right Side */
.container .rightSide {
  display: flex;
}

.container .rightSide .grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.container .rightSide .rightIMC {
  flex: 1;
  display: flex;
  position: relative;
}

.container .rightSide .rightArrow {
  position: absolute;
  background-color: #227c9d;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: -35px;
  top: 145px;
}
